<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cart items</title>
        <link rel="stylesheet" href="../Cart.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <% if(currUser.cart.length>0) {%>
            <section id="container">
                <div id="cart">
                    <div id="top-panel">
                        <button id="edit-button" type="button" onclick="showButton()">
                            <i class="fa fa-pencil" style="font-size: 24px;"></i>
                            Edit
                        </button>
                        <button style="display: none;" id="close-edit" onclick="disableButton()">X</button>
                        <h1>Cart</h1>
                    </div>
                    <% for(let product of currUser.cart) {%>
                        <a href="/product/<%= product._id %> ">
                            <form action="/product/removeFromCart" method="POST">
                                <section id="product">
                                    <div id="product-image">
                                        <img src="<%= product.images[0].url %> ">
                                    </div>
                                    <div id="product-name">
                                        <h7>
                                            <%= product.name %>
                                        </h7>
                                    </div>
                                    <div id="product-price">
                                        <h7 style="color: red;">
                                            $
                                            <%= product.price %>
                                        </h7>
                                    </div>
                        </a>
                        <div id="checkbox-input" style="display: none;">
                            <input type="checkbox" id="checkbox-<%= product._id %>" class="check-product" name="removeProducts[]" onchange="enableButton()" value="<%=product._id%>">
                            <label for="checkbox-<%= product._id %>" style="color: red; font-weight: bold; cursor: pointer;">Remove?</label>
                        </div>
                        </section>
                        <% } %>
                            <div id="bottom-panel">
                                <div>
                                    <button id="remove-button" disabled>Remove</button>
                                </div>
                                </form>
                                <form action="/user/checkout" method="GET">
                                    <button id="checkout-button" style="float: left;">Proceed to checkout</button>
                                </form>
                            </div>
                </div>
            </section>
            <% if(currUser.cart.length<=3) {%>
                <style>
                    @media (max-width: 768px) {
                        #footer {
                            position: fixed !important;
                            bottom: 0 !important;
                            width: 100% !important;
                        }
                    }
                </style>
                <% } %>
                    <% } else {%>
                        <h1>No products in cart currently.</h1>
                        <% } %>

                            <script>
                                var editButton = document.getElementById("edit-button")
                                var closeEditButton = document.getElementById("close-edit")
                                var inputsDiv = document.querySelectorAll('#checkbox-input');
                                var inputs = document.querySelectorAll("input.check-product");
                                var removeButton = document.getElementById("remove-button");

                                function showButton() {
                                    removeButton.style.display = "block";
                                    for (let inputDiv of inputsDiv) {
                                        inputDiv.style.display = "block";
                                    }
                                    editButton.style.display = "none";
                                    closeEditButton.style.display = "block";
                                }

                                function enableButton() {
                                    for (let input of inputs) {
                                        if (input.checked) {
                                            removeButton.disabled = false;
                                            removeButton.style.backgroundColor = "red"
                                            break;
                                        } else {
                                            removeButton.disabled = true;
                                            removeButton.style.backgroundColor = "lightgrey"
                                        }
                                    }
                                }

                                function disableButton() {
                                    removeButton.style.display = "none";
                                    editButton.style.display = "block";
                                    closeEditButton.style.display = "none";
                                    for (let inputDiv of inputsDiv) {
                                        inputDiv.style.display = "none";
                                    }
                                }
                            </script>
    </body>