<% layout('/layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../../Category.css">
        <link rel="stylesheet" href="../../Navbar.css">
        <link rel="stylesheet" href="../../Footer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <form id="submitCategory" action="/product/filter_category" method="GET">
            <ul id="categories-list">
                <h3 style="margin-left: 10px;">Brands</h3>
                <li id="category"><input type="checkbox" id="Samsung" onchange="document.getElementById('submitCategory').submit()" value="Samsung">Samsung</li>
                <% if(category==="MOBILE" ) {%>
                    <li id="category"><input type="checkbox" id="Apple" onchange="document.getElementById('submitCategory').submit()" value="Apple">Apple</li>
                    <li id="category"><input type="checkbox" id="OnePlus" onchange="document.getElementById('submitCategory').submit()" value="OnePlus">OnePlus
                    </li>
                    <% } %>
                        <% if(category==="APPLIANCE" ) {%>
                            <li id="category"><input type="checkbox" id="LG" onchange="document.getElementById('submitCategory').submit()" value="LG">LG</li>
                            <li id="category"><input type="checkbox" id="Panasonic" onchange="document.getElementById('submitCategory').submit()" value="Panasonic">Panasonic
                            </li>
                            <% } %>
                                <% if(category==="TV" ) {%>
                                    <li id="category"><input type="checkbox" id="LG" onchange="document.getElementById('submitCategory').submit()" value="LG">LG
                                    </li>
                                    <li id="category"><input type="checkbox" id="Sony" onchange="document.getElementById('submitCategory').submit()" value="Sony">Sony
                                    </li>
                                    <li id="category"><input type="checkbox" id="Panasonic" onchange="document.getElementById('submitCategory').submit()" value="Panasonic">Panasonic</li>
                                    <% } %>
            </ul>
        </form>
        <section id="container">
            <% for(let product of products) {%>
                <a href="/product/<%= product._id %> ">
                    <div class="<%= product.brand %>" id="product">
                        <div id="image">
                            <img src="<%= product.images[0].url %> ">
                        </div>
                        <div id="bottom-panel">
                            <div id="description">
                                <strong>
                                    <p>
                                        <%= product.name %>
                                    </p>
                                </strong>
                            </div>
                            <div id="price">
                                <p>
                                    $
                                    <%= product.price %>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
        </section>

        <script>
            var allDivs = document.getElementsByTagName('div');
            var allInputs = document.getElementsByTagName('input');

            function hideDiv() {
                for (var i = 0; i < allDivs.length; i++) {
                    allDivs[i].style.display = "block";
                }
                for (var i = 0; i < allInputs.length; i++) {
                    if (!allInputs[i].checked) {
                        var divs = document.getElementsByClassName(allInputs[i].value);
                        for (var j = 0; j < divs.length; j++) {
                            divs[j].style.display = "none";
                        }
                    }
                }
                nonChecked();
            }

            function nonChecked() {
                for (var i = 0; i < allInputs.length; i++) {
                    if (allInputs[i].checked) {
                        return;
                    }
                }
                for (var i = 0; i < allDivs.length; i++) {
                    allDivs[i].style.display = "block";
                }
            }
        </script>
    </body>