<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="utf-8">
        <title>Search results</title>
        <link rel="stylesheet" href="../Category.css">
    </head>

    <body>
        <section id="container">
            <% if(results.length>0) { %>
                <% for(let result of results) {%>
                    <a href="/product/<%= result._id %> ">
                        <div class="<%= result.brand %>" id="product">
                            <div id="image">
                                <img src="<%= result.images[0].url %> ">
                            </div>
                            <div id="bottom-panel">
                                <div id="description">
                                    <strong>
                                        <p>
                                            <%= result.name %>
                                        </p>
                                    </strong>
                                </div>
                                <div id="price">
                                    <p>
                                        $
                                        <%= result.price %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                        <% } else {%>
                            <h1 style="display: block;">No results found</h1>
                            <p style="display: block;">The product that you searched for is unavailable, or a spelling mistake may exist in your searching. You can lookup products through these categories:
                                <a href="/product/category/APPLIANCE">Appliances</a>, <a href="/product/category/MOBILE">Mobile</a>,
                                <a href="/product/category/TV">TVs</a>
                            </p>
                            <% } %>
        </section>

    </body>