<% layout('layouts/boilerplate')%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../Show.css">
        <link rel="stylesheet" href="../Stars.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>

    <body>
        <section class="container">
            <div class="left-child">
                <div id="image">
                    <img src="<%= populatedProduct.images[0].url %> ">
                </div>
                <div id="rating-panel">
                    <form action="/review/new/<%= populatedProduct._id %> " method="POST" novalidate>
                        Average Rating:
                        <p class="starability-result" data-rating="<%=averageRating%>">
                        </p>
                        <p>
                            <%= populatedProduct.reviews.length %> reviews
                        </p>
                        <!-- <div class="mb-3">
                                    <label class="form-label" for="rating">Rating</label>
                                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                                </div> -->
                        <div id="text-box">
                            <label style="text-decoration: underline;" class="form-label" for="body">Review Text</label>
                            <textarea class="form-control" name="text" id="body" cols="30" rows="3" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                        <p>Submit rating:</p>
                        <fieldset class="starability-basic">
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="right-child">
                <div id="top-panel">
                    <h1 style="color: blue;">
                        <%= populatedProduct.name %>
                    </h1>
                    <h1 style="color: red;">
                        $
                        <%= populatedProduct.price %>
                    </h1>
                </div>
                <div id="middle-panel">
                    <div id="description">
                        <h3>
                            <%= populatedProduct.description %>
                        </h3>
                    </div>
                    <div id="item-code">
                        <strong>
                            <p style="margin-right: 80px; display: inline;">Item Code:</p>
                        </strong>
                        <p style="display: inline; color: blue">
                            <%= populatedProduct.code %>
                        </p>
                    </div>
                    <div id="brand">
                        <strong>
                            <p style="margin-right: 120px; display: inline;">Brand:
                            </p>
                            <p style="display: inline;">
                                <%= populatedProduct.brand %>
                            </p>
                        </strong>

                    </div>
                </div>
                <div id="bottom-panel">
                    <% if(!addedToCart) {%>
                        <button class="cart-button" id="addcart-button" onclick="addToCart(event)"><i
                                class="fa fa-shopping-cart" style="font-size:24px"></i></button>
                        <% } else {%>
                            <button class="cart-button" id="removecart-button" onclick="removeFromCart(event)" style="background-color: red;"><i class="fa fa-shopping-cart"
                                    style="font-size:24px;"></i></button>
                            <% } %>
                                <% if(!addedToWishlist) {%>
                                    <button class="wishlist-button" id="addwishlist-button" onclick="addToWishlist(event)"><i class="fa fa-heart-o" aria-hidden="true"
                                            style="font-size:24px;"></i></button>
                                    <% } else {%>
                                        <button class="wishlist-button" id="removewishlist-button" onclick="removeFromWishlist(event)" style="background-color: red;"><i
                                                class="fa fa-heart-o" aria-hidden="true"
                                                style="font-size:24px;"></i></button>
                                        <% } %>
                </div>
                <div id="reviews-panel">
                    <% for(let review of populatedProduct.reviews) {%>
                        <div id="review">
                            <div id="review-author">
                                <h3>
                                    <%= review.author.username %>
                                </h3>
                            </div>
                            <% if(review.body) {%>
                                <div id="review-body">
                                    <p>
                                        <%= review.body %>
                                    </p>
                                </div>
                                <% } %>
                                    <% if(review.rating) {%>
                                        <form action="/review/delete/<%= review._id %>?_method=DELETE" method="POST">
                                            <% if(currentUser && review.author._id.equals(currentUser._id)) {%>
                                                <button type="submit" id="delete-review">Delete</button>
                                                <% } %>
                                        </form>
                                        <div id="review-rating">
                                            <p class="starability-result" data-rating="<%=review.rating%>">
                                                Rated:
                                                <%= review.rating %> stars
                                            </p>
                                        </div>
                                        <% } %>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
    </body>

    <script>
        var product_id = '<%- populatedProduct.id %>'
            // document.getElementById('removecart-button').addEventListener('click', removeFromCart)

        function addToCart(e) {
            var cartButton = document.getElementById('addcart-button');
            e.preventDefault();
            var params = "id=" + product_id;
            const xhttp = new XMLHttpRequest();
            xhttp.open('POST', '/product/addToCart', true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhttp.onload = function() {
                console.log(this.responseText);
            }

            xhttp.send(params);

            changeButton(cartButton)
        }

        function removeFromCart(e) {
            var cartButton = document.getElementById('removecart-button');
            e.preventDefault();
            var params = "id=" + product_id;
            const xhttp = new XMLHttpRequest();

            xhttp.open('POST', '/product/removeFromCart', true);

            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhttp.onload = function() {
                console.log(this.responseText);
            }

            xhttp.send(params);

            changeButton(cartButton)
        }

        function addToWishlist(e) {
            var wishlistButton = document.getElementById('addwishlist-button');
            e.preventDefault();
            var params = "id=" + product_id;
            const xhttp = new XMLHttpRequest();
            xhttp.open('POST', '/product/addToWishlist', true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhttp.onload = function() {
                console.log(this.responseText);
            }

            xhttp.send(params);

            changeButton(wishlistButton)
        }

        function removeFromWishlist(e) {
            var wishlistButton = document.getElementById('removewishlist-button');
            e.preventDefault();
            var params = "id=" + product_id;
            const xhttp = new XMLHttpRequest();

            xhttp.open('POST', '/product/removeFromWishlist', true);

            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhttp.onload = function() {
                console.log(this.responseText);
            }

            xhttp.send(params);

            changeButton(wishlistButton)
        }

        function changeButton(btn) {
            if (btn.style.backgroundColor == "red") {
                btn.style.backgroundColor = "#1DA1F2";
            } else {
                btn.style.backgroundColor = "red";
            }
        }
    </script>

    </html>